<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .mainTitle }}</title>
	<style>{{ .style }}</style>
</head>

<body>

<div id="topbar" class="wide">
	<div class="container">
		<div class="top-heading" id="heading-wide"><a href="/">{{ .mainTitle }}</a></div>
	</div>
</div>

<div id="homepage">
	<p>Cheerio Teamworkers! This is all the documentation for all our Go
		code; both public and private. It is re-generated automatically using <a
		href="https://github.com/teamwork/godocgen">the <code>godocgen</code>
		tool</a>. Questions or problems can be reported to Martin.</p>

	{{ range $g := .groups }}
		<h1>{{ $g.Name }}</h1>
		<p>{{ $g.Desc }}</p>
		<table>
			<tbody>
				{{ range $pkg := $g.Packages }}
					<tr class="indent-{{ $pkg.Depth }}">
						<td>
							{{ if eq $pkg.Depth "1" }}
								<a href="" class="expand">▶</a>
							{{ end }}
							<a href="{{ $pkg.Name }}/index.html">{{ $pkg.Name }}</a>
						</td>
						<td>{{ $pkg.Doc }}</td>
					</tr>
				{{ end }}
			</body>
		</table>
	{{ end }}
</div>

<script src="/_static/jquery.js"></script>
<script>
	$(document).ready(function() {
		$('tr:not(.indent-0, .indent-1)').css('display', 'none')

		$('.expand').on('click', function(e) {
			e.preventDefault()
			expand = this.innerHTML == '▶'
			this.innerHTML = this.innerHTML === '▼' ? '▶' : '▼'

			row = $(this).closest('tr')
			while (true) {
				row = row.next()
				if (row.is('.indent-0, .indent-1'))
					break
				row.css('display', expand ? '' : 'none')
			}
		})
	})
</script>

</body>
</html>
