<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .pkg.Name }} – {{ .mainTitle }}</title>
	<link rel="stylesheet" href="/_static/style.css">
	<link rel="stylesheet" href="/_static/jquery.treeview.css">
	<script type="text/javascript">window.initFuncs = [];</script>
</head>

<body>

<div id="topbar" class="wide">
	<div class="container">
		<div class="top-heading" id="heading-wide"><a href="/">{{ .mainTitle }}</a></div>
	</div>
</div>

<div id="page" class="wide">
	<div class="container">
		<h1><a href="https://{{ .pkg.FullImportPath }}">Package {{ .pkg.Name }}</a></h1>
		{{ .godoc }}
        <div id="footer">Generated on {{.now}} from commit
            {{/* TODO: Link won't work for subpackages */}}
            <a href="https://{{.pkg.FullImportPath}}/commit/{{.commit}}">{{.commit}}</a></div>
	</div>
</div>

<script src="/_static/jquery.js"></script>
<script src="/_static/jquery.treeview.js"></script>
<script src="/_static/jquery.treeview.edit.js"></script>
<script src="/_static/godocs.js"></script>

</body>
</html>
